    <li><a href = "{% url 'shopping_cart:bls_course' %}"><h3>BLS for Healthcare Provider Course</h3></a></li>
    <p>Course length: about 4.5 hours
       Prerequisites: none. There is no need to be a healthcare provider to take the course. This is the most comprehensive CPR course that we offer.
       CEU's: 4 Continueing Education Credits for (LVN, EMS, MA, CNA, PT, Psych-Tech, RT)
       Certificate of completion: YES
       Why take this course:           
          
</p>

    <h3>ACLS (Advanced Life Support)</h3>
    <p>Course length: All day, the course may take up to 10 hours (Typically not this long)
    <p>Prerequisites: Licensed in the following:
           Providers who take ACLS Course must be proficient in the following: 
               Performing high-quality BLS skills through the use of the 2015 AHA Guidelines Update for CPR and ECC 
               Reading and interpreting electrocardiograms (ECGs)
               Understanding ACLS drugs 
               Bag-mask ventilations </p>
        
    <h3>ECG & Pharmacology Course</h3>
    <p>Course length: about 6 hours
       Prerequisites: none
       CEU's: none
       Certificate of completion: YES
       Why take this course: 
           To prepare for the ACLS Provider Course
           Another certificate to show your new employer
   
</p>  

 <h3>Airway Management Course</h3>
    <p>Course length: about 5 hours
       Prerequisites: none
       CEU's: none
       Certificate of completion: YES
       Why take this course:           
           To prepare for the ACLS Provider Course
           Another certificate to show your new employer
   
</p>

