<li><a href="{% url 'shopping_cart:healthcare_provider' %}"><h1>Healthcare Provider</h1></a></li>
<p>BLS for Healthcare Provider   BLS for Healthcare Provider online
   ACLS for Healthcare Provider  ACLS for Healthcare Provider online
   ECG and Pharmacology Course
</p>


                               <h4>Am I a Healthcare Provider?</h4>
<h4>Can I take this class if I am not a Healthcare Provider?</h4>
<h4>What's the difference?</h4>


<h1>Non-Healthcare Provider</h1>
<p>Basic CPR First Aid and AED (non Healthcare Provider, non Daycare Provider)
   Daycare Providers
   First Aid Class (no CPR)
   Wilderness First Aid</p>
